

<!--left-->
<%= render 'user_info', user: @user %>
<%= render 'create_book', book: @book %>

<!--right-->
<h2>Book detail</h2>
<%= image_tag @book_find.user.get_profile_image(100,100) %>
<%= link_to @book_find.user.name, user_path(@book_find.user.id) %>
<%= link_to @book_find.title, book_path(@book_find.id) %>
<%= @book_find.opinion %>

<% if @book_find.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book_find.id) %>
  <%= link_to "Destroy", book_path(@book_find), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>
